<?php
// The POST variable in which Github stores the JSON data
$post_var_name = 'payload';

// The folder that contains the scripts that will be run
$hooks_script_root = './hooks';

// All information will be logged here
$log_file = './log/githooks.log';

// Script to call
$script_file = './script_runner.sh';

/* Configuration for users that will be allowed
(it's an array, so use as many as you like). 
Just remember to change the key*/

$authorized_users = array(
        array(
                'name' => 'gitlab',
                'key' => 'lunghissimachiavealfanumericatipo123456789qwertyuiop',
                'ip_addresses' => array('127.0.0.1','X.X.X.X'),
        ),
	array(
                'name' => 'github-username',
                'key' => 'lunghissimachiavealfanumericatipo123456789qwertyuiop',
                'ip_addresses' => array('*'),
        ),
);

// Enable for more verbose logging and client site logging
$debug =FALSE;
